<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">My Template</h1>
</mat-toolbar>

<mat-drawer-container  class="example-container">
  <mat-drawer mode="side" opened>
    <p>Auto-resizing sidenav</p>
    <p>Auto-resizing sidenav</p>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav >
    <mat-nav-list>
      <mat-list-item>
        ciao
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      Main content here!
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
